@import './../../../variables.scss';
.btn-form{
    text-transform: uppercase;
    font-weight: 600;
    background-color: $primary;
    border: none;
    border-radius: 20px;
    font-size: 1.2em;
    margin-top: 1vh;
    padding: 5px 0;
    letter-spacing: 1px;
    width: 25vw;
    &:focus{
        outline-color: transparent;
        outline-style: none;
    }
}
.btn-primary{
    color: #fff;
    background-color: $primary;
}
.btn-secondary{
    color: #fff;
    background-color: $secondary;
}
.link-secondary{
    color: $secondary;
    background-color: #fff;
}
.link-primary{
    color: $primary;
    background-color: #fff;
}

@media screen and (max-width: 768px){
    .btn-form{
        width: 40vw;
        font-size: 1.2em;
    }
}