.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://images.pexels.com/photos/2068296/pexels-photo-2068296.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  }

.ant-carousel .slick-slide h3 {
    color: #fff;
}